@media (min-width:1441px){
    .container {
        width: var(--container-width-xl);
        margin: 0 auto;
    }
    .container-xl{
        width: var(--container-width-xl);
        margin: 0 auto;
    }
    #navmenu ul li{
        display: inline-block;
        margin-right: 20px;
    }
    .bottom-nav-right ul li{
        display: inline-block;
        margin-right: 20px;
    }
}
@media (min-width:2561px){
    .container {
        width: var(--container-width-xxl);
        margin: 0 auto;
    }
    .container-xl{
        width: var(--container-width-xl);
        margin: 0 auto;
    }
    #navmenu ul li{
        display: inline-block;
        margin-right: 20px;
    }
    .bottom-nav-right ul li{
        display: inline-block;
        margin-right: 20px;
    }
}
@media (max-width: 1440px){
    #navmenu ul li{
        display: inline-block;
        margin-right: 20px;
    }
    .bottom-nav-right ul li{
        display: inline-block;
        margin-right: 20px;
    }
}
@media (max-width:1024px){
    .container {
        width: var(--container-width-md);
        margin: 0 auto;
    }
    .column{
        flex-wrap: wrap;
    }
    .logo{
        flex-basis: 15%;
    }
    .logo img{
        width: 120px;
    }
    #navmenu{
        flex-basis: 72%;
    }
    #navmenu ul li{
        display: inline-block;
        margin-right: 10px;
    }
    .contact-number .top-icon{
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
    .contact-number{
        flex-basis: 28%;
    }
    .banner-text h1{
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .banner-text h3{
        font-size: 1.3rem;
    }
    .resident-btn .fill-btn{
        padding: 0.4rem 0.8rem;
        margin-right: 33px;
    }
    .outline-btn{
        padding: 0.3rem 0.8rem;
    }
    .painter-text h2{
        font-size: 1.5rem;
    }
    .bottom-nav-left img{
        width: 130px;
    }
    .bottom-nav-left{
        flex-basis: 17%;
        text-align: right;
    }
    .bottom-nav-right{
        flex-basis: 75%;
        text-align: left;
    }
    .bottom-nav-right ul{
        font-size: 0.9rem;
    }
    .bottom-nav-right ul li{
        display: inline-block;
        margin-right: 10px;
    }
}
@media (max-width:768px){
    .container {
        width: var(--container-width-sm);
        margin: 0 auto;
    }
    .contact-number{
        display: none;
    }
}
/* Tablet Media Query */
@media (max-width: 768px){
    .section-title{
        font-size: 1.5rem;
    }
    .title-line-icon .title-line{
        width: 200px;
    }
    .resident-col{
        flex-basis: 45%;
        margin-top: 20px;
    }
    .resident-col h2{
        font-size: 1.2rem;
    }
    .painter-text{
        width: 60%;
    }
    .painter-text h2{
        font-size: 1.5rem;
    }
    .design50 .design-icon, .design50 .design-icon-2{
        width: 100px;
    }
    .design50 .design-text{
        padding-left: 90px;
        padding-top: 0px;
    }
    .design-text{
        padding-left: 50px;
    }
    .design-text h3{
        font-size: 18px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .design-text ul li{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .review-col{
        flex-basis: 45%;
    }
    .review-col-3{
        margin-top: 30px;
    }
    #contact-us-section{
        padding: 20px 0;
    }
    .contact-col img{
        width: 150px;
    }
    .contact-info-left img{
        width: 40px;
    }
    .contact-info-right h3{
        font-size: 0.7rem;
    }
    .bottom-nav{
        display: none;
    }
    footer p{
        font-size: 0.7rem;
    }
}
@media(max-width: 500px){
    .container {
        width: var(--container-width-xsm);
        margin: 0 auto;
    }
    .column{
        flex-direction: column;
    }
    #banner{
        background-position: left center;
    }
    .banner-text{
        width: 100%;
    }
    .section-title{
        font-size: 1.2rem;
    }
    .title-line-icon .title-line{
        width: 150px;
    }
    .resident-col p{
        font-size: 1rem;
        margin: 50px 0;
    }
    #painter-section{
        background-position: left center;
    }
    .painter-text{
        width: 100%;
        text-align: center;
    }
    #design-section{
        padding-bottom: 20px;
    }
    .design50{
        width: 100%;
    }
    .design50 .design-icon{
        display: none;
    }
    .design50 .design-icon-2{
        display: none;
    }
    .design50 .design-text{
        padding-left: 0px;
        padding-top: 0px;
        text-align: center;
    }
    .design-exterior{
        display: none;
    }
    .design-exterior-500{
        display: block;
    }
    .design-text{
        margin-bottom: 20px;
    }
    #review-section{
        margin-bottom: 0px;
    }
    .review-col{
        padding: 0 50px 30px 50px;
    }
    .review-col-2{
        margin-top: 30px;
    }
    .contact-col{
        flex-basis: 100%;
        text-align: left;
    }
    .contact-info-left{
        flex-basis: 10%;
    }
    .contact-info-left img{
       margin-right: 20px;
    }
    .contact-info-right{
        flex-basis: 85%;
    }
}


















/* Tablet Navbar */
/* Mobile Navbar */
@media(max-width:768px){
    #navmenu{
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 200px;
        padding: 0;
        right: -280px;
        transition: all 0.6s ease;
    }
    #navmenu ul{
        text-align: left;
        margin-left: 20px;
    }
    #navmenu ul li{
        display: block;
        margin-bottom: 20px;
    }
    #navmenu ul li a{
        font-size: 20px;
    }
    .fa-xmark{
        font-size: 20px;
    }
    #mobile-menu{
        padding: 0px;
        font-size: 20px;
    }
    .fa-bars{
        margin-left: 10px;
    }
    #navmenu ul #mobile-cross{
        margin-top: 20px;
        color: var(--primary);
    }
    #navmenu ul #mobile-cross, #mobile-menu{
        display: block;
        text-align: left;
    }
}