@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Roboto:wght@400;700&display=swap');
:root {
    --primary: #3b2670;
    --normal: #ffffff;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);


    --container-width-xxl: 50%;
    --container-width-xl: 60%;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --container-width-xsm: 96%;

    --top-bg: url(../images/banner-top.jpg);
    --middle-bg: url(../images/banner-text.jpg);
}

/* Universal selector  */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline-offset: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;
}
body {
    color: var(--primary);
}

.container {
    width: var(--container-width-md);
    margin: 0 auto;
}
img {
    width: 100%;
}
p{
    color: #373737;
}
.design-exterior-500{
    display: none;
}
#mobile-menu, #navmenu #mobile-cross{
    display: none;
}
/* Header Section Start */
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    flex-basis: 18%;
}
.logo img{
    width: 150px;
}
#navmenu{
    flex-basis: 75%;
    text-align: center;
}
#navmenu .nav-item{}
#navmenu .nav-item li{
    display: inline-block;
    margin-right: 20px;
}
#navmenu .nav-item li a{}
#navmenu .nav-item li a:hover{}
.contact-number{
    flex-basis: 25%;
}
.contact-number .top-icon{
    display: inline-block;
    background: var(--primary);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: var(--normal);
    text-align: center;
    font-size: 1.2rem;
}
.contact-number span i{
    margin-top: 7px;
}
.contact-number span{}
/* Header Section End */
/* Banner Section Start */
#banner{
    background: var(--top-bg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 30px;
    
}
.banner-text{
    width: 42%;
    text-align: center;
}
.banner-text h1{
    font-size: 2.5rem;
    font-family: 'Barlow', sans-serif;
    margin-bottom: -10px;
}
.top-title-line{
    margin-top: -25px;
    margin-bottom: 10px;
}
.top-title-line img{
    width: 50px;
}
.banner-text h3{
    font-size: 1.5rem;
    font-weight: normal;
}
.banner-text a{
    display: block;
    background: url(../Buttons/button-top-banner.png) no-repeat;
    background-size: contain;
    background-position: center center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    margin-top: 100px;
}
.banner-text .google-top{
    width: 150px;
    margin-top: 50px;
}
/* Banner Section End */

/* Residential  Section Start */
#resident-section{
    padding: 50px 0;
}
.section-title{
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 20px;
}
.title-line-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.title-line-icon .title-icon{
    width: 40px;
    margin: 0px 20px;
}
.title-line-icon .title-line{
    width: 300px;
}
.resident-col{
    flex-basis: 30%;
    position: relative;
    height: 350px;
}
.resident-col img{
   
}
.resident-col h2{
    font-size: 1.5rem;
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 4px solid var(--primary);
}
.resident-col p{
    font-size: 1rem;
    margin: 10px 0;
}
.resident-btn{
    position: absolute;
    left: 0;
    bottom: 0;
}
.resident-btn .fill-btn{
    background: #e97530;
    padding: 0.5rem 1rem;
    margin-right: 108px;
    color: var(--normal);
}
.resident-btn .fill-btn:hover{
    background: #3b2670;
}
.outline-btn{
    border: 1px solid #3b2670;
    padding: 0.5rem 1rem;
}
.outline-btn:hover{
    border: 1px solid #e97530;
    background: #e97530;
    color: var(--normal);
}
/* Residential  Section End */

/* Painter  Section End */
#painter-section{
    background: var(--middle-bg) no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}
.painter-text{
    width: 40%;
}
.painter-text h2{
    font-size: 2rem;
    border: 3px solid var(--primary);
    padding: 20px;
    display: inline-block;
}
.painter-text p{
    margin: 60px 0;
}
.painter-text a{
    display: inline-block;
    background: url(../Buttons/button-top-banner.png) no-repeat;
    background-size: contain;
    background-position: center center;
    padding: 30px 60px;
    color: #fff;
}
/* Painter  Section End */

/* Design  Section Start */
#design-section{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: auto;
}
.design-grid{
    overflow: auto;
}
.design50{
    width: 50%;
    float: left;
    position: relative;
}
.design50 .design-img{
    width: 100%;
    
}
.design50 .design-icon{
    width: 150px;
    position: absolute;
    top: 30%;
}
.design50 .design-icon-2{
    width: 150px;
    position: absolute;
    top: 30%;
    right: 0;
}
.design50 .design-text{
    padding-left: 150px;
    padding-top: 50px;
}
.design-text h3{
    font-size: 28px;
    margin-bottom: 50px;
}
.design-text ul{}
.design-text ul li{
    font-size: 15px;
    color: #373737;
    margin-bottom: 10px;
}
.design-text ul li img{
    width: 20px;
    margin-right: 5px;
}
/* Design  Section End */
/* Review  Section Start */
#review-section{
    margin-bottom: 50px;
}
.review-col{
    flex-basis: 30%;
    text-align: center;
}
.review-col img{}
.review-col h3{
    font-size: 1.1rem;
    text-align: center;
}
.review-col p{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: left;
}
/* Review  Section End */

/* Contact Us  Section End */
#contact-us-section{
    background: #F6F1EB;
    padding: 50px 0;
}
.contact-col{
    flex-basis: 25%;
    text-align: center;
}
.contact-col img{
    width: 200px;
}
.contact-col .row{
    justify-content: space-evenly;
}
.contact-info-left{
    flex-basis: 30%;
}
.contact-info-left img{
    width: 40px;
}
.contact-info-right{
    flex-basis: 70%;
}
.contact-info-right h3{
    font-size: 1rem;
    text-align: left;
}
.bottom-nav-left{
    flex-basis: 20%;
    text-align: right;
}
.bottom-nav-left img{
    width: 150px;
}
.bottom-nav-right{
    flex-basis: 70%;
}
.bottom-nav-right .nav-item .exterior{
    display: inline-block;
    background: var(--primary);
    padding: 10px 20px;
    color: var(--normal);
}
/* Contact Us  Section End */
/* Footer  Section End */
footer{
    background: var(--primary);
    padding: 20px 0;
    text-align: center;
}
footer p{
    font-size: 1rem;
    color: var(--normal);
}
/* Footer  Section End */